{% extends 'base.html' %}

{% block title %}プロフィール{% endblock %}

{% block contents %}
<div class="container mt-4 text-center">
    <div class="card mx-auto" style="width: 24rem;">
        <div class="card-body">
            <img src="{{ object.profile.avatar.url }}"alt="プロフィール画像"
            class="rounded-circle mb-3" width="120" height="120">
            <h5 class="card-title">{{ object.username }}</h5>
            <p class="card-text">{{ object.profile.bio|default:'自己紹介はまだありません。'}}</p>
            {% if request.user == object %}
                <a href="{% url 'accounts:profile_update' %}" class="btn btn-primary mb-4">プロフィール編集</a>
            {% endif %}

            <form method="post" action="{% url 'accounts:follow_toggle' object.username %}">
                {% csrf_token %}
                {% if request.user in  object.profile.followers.all %}
                    <button type="submit" class="btn btn-danger">フォロー解除</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">フォローする</button>
                {% endif %}
                <p>
                    <small class="text-muted">{{ object.profile.followers_count }} フォロワー</small>
                    <small class="text-muted">{{ object.profile.following_count }} フォロー中</small>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}