{% extends 'base.html' %}

{% block title %}家計簿一覧{% endblock %}

{% block contents %}
<div class="container mt-4">
    <h2 class="mb-4">家計簿一覧</h2>
    <a href="{% url 'kakeibo:record_create' %}" class="btn btn-primary mb-3">記録を追加</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>日付</th>
                <th>区分</th>
                <th>金額</th>
                <th>メモ</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.date }}</td>
                    <td>{{ obj.get_category_display }}</td>
                    <td>{{ obj.amount }} 円</td>
                    <td>{{ obj.memo }}</td>
                    <td>
                        <a href="{% url 'kakeibo:record_update' obj.pk %}" class="btn btn-sm btn-primary">編集</a>
                        <a href="{% url 'kakeibo:record_delete' obj.pk %}" class="btn btn-sm btn-danger">削除</a>
                        <a href="{% url 'kakeibo:record_detail' obj.pk %}" class="btn btn-sm btn-info">詳細</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">まだ記録がありません。</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3 class="mt-4">📑 月ごとの収支一覧</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>月</th>
                <th>収入</th>
                <th>支出</th>
                <th>収支</th>
            </tr>
        </thead>
        <tbody>
            {% for row in monthly_table %}
                <tr>
                    <td>{{ row.month|date:"Y-m" }}</td>
                    <td>￥{{ row.収入|default:0|floatformat:0 }}</td>
                    <td>￥{{ row.支出|default:0|floatformat:0 }}</td>
                    <td class="{% if row.収支 <  0 %}text-danger{% else %}text-success{% endif %}">
                        ￥{{ row.収支|floatformat:0 }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'kakeibo:record_graph' %}">収支グラフ</a>
    <a href="{% url 'kakeibo:record_graph_chartjs' %}" class="ms-3">グラフchart.js</a>
</div>
{% endblock %}