{% extends 'base.html' %}

{% block title %}受信ボックス{% endblock %}

{% block contents %}
<div class="container mt-4">
    <h2 class="mb-4">受信ボックス</h2>
    <ul>
        {% for obj in object_list %}
            <li>
                <a href="{% url 'sns:message_detail' obj.pk %}">
                    {{ obj.subject }} - {{ obj.sender.username }}
                    {% if not obj.is_read %}
                        <strong>[未読]</strong>
                    {% endif %}
                </a>
            </li>
        {% empty %}
            メッセージはありません。
        {% endfor %}
    </ul>
</div>
{% endblock %}