{% extends 'base.html' %}

{% block title %}投稿一覧{% endblock %}

{% block contents %}
    <div class="container mt-4">
        <h2 class="mb-4">投稿一覧</h2>
        <ul>
            {% for obj in object_list %}
                <li>{{ obj.author }}</li>
                <li>{{ obj.title }}</li>
                <li>{{ obj.created_at }}</li>
                <p><a href="{% url 'sns:post_detail' obj.pk %}">詳細</a></p>
            {% empty %}
                投稿データがありません。
            {% endfor %}
        </ul>
    </div>
{% endblock %}